body {
    background-image: url("images/track.png");
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
p {
    font-size:100px;
    margin-top:-20px;
}
#popup {
    width: 500px;
    height: 600px;
    background: #ede1d1;
    border: 1px solid black;
    margin:auto;
    font-size:50px;
    text-align:center;
}

label {
    font-size:15px;
}
.horse {
    position: absolute;
    left: 0;
    transform: scaleX(-1) scale(0.6);
}
#winnerText {
    position: fixed;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 80px;
    color: gold;
    text-shadow: 2px 2px 10px black;
    display: none;
}

#horse01 { top: 170px; }
#horse02 { top: 300px; }
#horse03 { top: 420px; }
#horse04 { top: 545px; }
#horse05 { top: 670px; }


#menuOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
}

#menuOverlay.active {
    opacity: 1;
    pointer-events: all;
}
.menuBox {
    background: white;
    padding: 20px;
    border-radius: 10px;
}
#restartRace {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
  padding: 10px 20px;
  background-color: #ff0d0d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
   display: none;
}

.tug {
width:400px;
height:150px;
background: #e3dcba;
}

a {
font-size:75px;
color: white;
}

.home {
margin: 0;
    background-image: url("images/track.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}
.dev-box {
  padding: 25px 40px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: Arial, sans-serif;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

  padding: 25px 40px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: Arial, sans-serif;

  border-radius: 15px;
  text-align: center;

  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}
.dev-box h3 {
  margin: 0 0 8px 0;
  font-size: 36px;
  color: #05a605;
  text-align: center;
}
.dev-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dev-box li {
  font-size: 34px;
  margin: 3px 0;
  text-align: center;
}

.button {
display: flex;
flex-direction: column;
align-items: center;
gap: 50px;
}

