body {
background-image: url("images/track.png");
}
 p {
    font-size:100px;
    margin-top:-20px;
    }
    #popup {
    width: 500px;
    height: 600px;
    background: #ede1d1;
    border: 1px solid black;
    margin:auto;
    font-size:50px;
    text-align:center;
    }

    label {
    font-size:30px;
    }
.horse {
  position: absolute;
  transform: scaleX(-1);
}

#horse01 { top: 110px; }
#horse02 { top: 250px; }
#horse03 { top: 390px; }
#horse04 { top: 530px; }
#horse05 { top: 800px; }
